.panel {
  width: 400px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.chats {
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: hidden;
  overflow-x: visible;
}