.panel {
  width: 400px;
  height: 600px;
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: $background-panel;
  transition: 300ms width, 300ms height;
  @media screen and (max-width: 450px) {
    width: 325px;
    height: 570px;
  }
}

.chats {
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (max-width: 450px) {
    min-height: 420px;
  }
}

.welcomeInstructionsList {
  text-align: left;
  padding-left: 10px !important;
}

.welcomeInstructionsItem {
  list-style-type: disc !important;
}