.panel {
  width: 400px;
  height: 600px;
  min-height: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: $background-panel;
}

.chats {
  min-height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcomeInstructionsList {
  text-align: left;
  padding-left: 10px !important;
}

.welcomeInstructionsItem {
  list-style-type: disc !important;
}